.container {
  padding: 2rem;
  text-align: center;
  background-color: #f6f3f300;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Duas colunas por linha */
  gap: 1.5rem; /* Espaçamento entre cartões */
  justify-items: center;
}

.card {
  background-color: rgba(85, 84, 84, 0.11);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
  width: 300px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.icon {
  width: 50px;
  height: 50px;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1rem;
  color: #4b5563;
}